body {
  background-color: white;
  margin: 20px;
}

h3 {
  font-family: "futura-pt", sans-serif; font-weight: 400;font-style: italic;
  }
  
h2 {
  font-family: "futura-pt", sans-serif; font-weight: 700;font-style: normal;
  }
  
p {
    font-family: "nunito-sans", sans-serif; font-weight: 400; font-style: normal;
  }
p1 {
    font-family: "nunito-sans", sans-serif; font-weight: 400; font-style: normal;
  }
  
button {
    font-family: "futura-pt", sans-serif; font-weight: 600; font-style: normal;
  }

.section-1 h2 {
  color: #080357;
}
.section-2 h2 {
  color: #080357;
  margin-bottom: 30px;
}

.section-3 h2 {
  color: #080357;
  margin-top: 50px;
}

section h2 {
  color: #080357;
  margin-top: 50px;
}
.section-1-text-2 br {
  display: none;
}

.section-1 p {
  font-size: 16px;
  text-align: left;
}

.cirkle {
  height: 30px;
  width: 30px;
  border-radius: 50% ;
  background-color: #080357;
}

.cirkle h2 {
  color: white;
  text-align: center;
}

.section-2 p {
margin-top: -30px;
margin-left: 50px;
}

.grid-1 {
  margin-bottom: 35px;
}

.content img {
  height: 30px;
  margin-right: 15px;
  margin-top: 12px;
}

.content {
  display: flex;
}

.container-skriv1 img {
 width: 100px;
 margin-top: 10px;

}

.container-skriv1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 20px;
}

.container-skriv1 p {
  margin: 15px;
  text-align: left;
  line-height: 35px;
}

@media (min-width: 768px) {
.kort {
width: 650px;
height: 500px;
}

.indhold {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

.baggrund {
  display: flex;
  gap: 50px;
}

.indhold h2 {
font-size: 40px;
}

.indhold p1 {
  margin-top: -20px;
  margin-bottom: 20px;
}
.content {
  margin-bottom: 30px;
}
.h2-mobil {
  display: none;
}
}

@media (min-width: 1024px)  {
  .section-1-text-2 br{
    display: block;
  }
  .section-4 {
    display: flex;
    justify-content: center;
    gap: 90px;
  }

  .container-skriv1 {
    width: 400px;
   }
  .section-4h2 {
    text-align: center;
  }

}
 
