body {
  margin: 10px;
  padding: 10px;
}

h2 {
font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: italic;
color: #080357;
}

h3 {
font-family: "futura-pt", sans-serif;
font-weight: 700;
font-style: normal;
color: #080357;
}

p {
font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;
}

button {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.top-menu li {
  font-size: 16px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #080357;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.top-menu li a {
text-decoration: none;
color: #080357;
}

.menu-bar img {
  height: 50px;
}

.menu-bar {
  display: flex;
  margin-top: 20px;
}

.menu-bar ul li {
list-style: none;
display: inline-flex;
font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: normal;
color: black;
font-size: 20px;
width: 160px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: black;
}

.menu-bar ul li a:hover {
  color: #EB282D;
}

.sogefunktion {
  display: inline-block;
  font-size: 1.4rem;
  margin-top: 20px;
  margin-left: 40px;
}

.bliv-frivillig {
  background-color: #EB282D;
  color: white;
  font-size: 1rem;
  border: none;
  padding:0.8rem;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10rem;
  transition: transform 0.2s;
}

.bliv-frivillig:hover {
  transform: scale(1.1);
}

.stotborn {
  background-color: #080357;
  color: white;
  font-size: 20px;
  border: none;
  height: 50px;
  width: 130px;
  border-radius: 35px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-left: -40px;
}

.stotborn:hover {
  transform: scale(1.1);
}

.sub-menu1 {
display: none;
}

.menu-bar ul:hover .sub-menu1 {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 40vh;
  left: 0;
  justify-content: space-around;
  background-color: #F7F7F7;
}

.menu-bar ul:hover .sub-menu1 li {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  
}

.menu-bar ul:hover .sub-menu1 h2 {
  font-size: 35px;
}

.menu-bar ul:hover .sub-menu1 h3 {
  font-size: 20px;
} 

.menu-bar ul:hover .sub-menu1 li  {
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
color: #080357;
}

.sub-menu1 p1 {
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
}


.CTA h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;

}

.CTA p1 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-left: 20px;
  
}

.CTA p2 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  display: block;
  margin-left: 20px;

}

.CTA span {
  display: block;
  width: 1px; 
  height: 230px; 
  background-color: #080357; 
margin-top: -130px;
  margin-left: 265px;
}

#arrow {
  margin-left: -9px;
  font-size: 16px;
}

.sub-menu2 {
  display: none;
}

