.ompodcast-overskrift{
    margin-left: 130px;
    margin-top: 25px;
    margin-bottom: 25px;
    
    }
    
    .ompodcast-overskrift h2{
    color: #080357;
    
    }
    
    .podcast-paragraf{
    padding-left: 130px;
    padding-right: 130px;
    margin: 0 auto;
    }