* {
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #F7F7F7;
}
h2 {  
  font-family: futura-pt, sans-serif; 
  font-weight: 500; 
  font-style: normal; 
  color: #F7F7F7;
  }
      
h3,h5 { 
  Font-family: futura-pt, sans-serif; 
  font-weight: 600; 
  font-style: normal; 
  color: #F7F7F7;
  } 

p { 
  font-family: "nunito-sans", sans-serif; 
  font-weight: 400; 
  font-style: normal; 
  color: black;
  } 

a {
  font-family: futura-pt, sans-serif; 
  font-weight: 500; 
  font-style: normal;
  text-decoration: none;
  }

  .knaplilla {
    background-color:#E0D4F1;
    width: 200px;
    border-radius: 35px;
    cursor: pointer;
    transition: transform 0.2s;
    display: inline-block;
    text-align: center;
    padding: 12px;
    color:#080357;
    font-size: 20px;
    margin-top: 20px;
    }

  .knaplilla:hover {
    transform: scale(1.1);
    }  

  .knapbla {
    background-color: #080357;
    width: 200px;
    padding: 12px;
    border-radius: 35px;
    cursor: pointer;
    transition: transform 0.2s;
    display: inline-block;
    color:#FFF9A5;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    }

.knapbla:hover {
    transform: scale(1.1);
    }   
   
@media (min-width: 1024px) {
  .whitespace {
    height: 50px;
}}
  
/* Megamenu Web*/

header {
  background-color: #080357;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}
nav h3 { 
Font-family: futura-pt, sans-serif; 
font-weight: 600; 
font-style: normal; 
color: #F7F7F7;
font-size: 20px;
} 
nav img {
margin-top: -30px;
}

button {
font-family: "futura-pt", sans-serif; font-weight: 700;font-style: normal;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-menu a {
  font-size: 14px;
  margin-right: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #FFF9A5;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.top-menu li  {
text-decoration: none;
color: #FFF9A5;
}

.nav-button {
  background-color:#E0D4F1;
  color:#080357;
  border: none;
  height:40px;
  width: 100px;
  border-radius: 35px;
  cursor: pointer;
  transition: transform 0.2s;
}

.nav-button:hover {
  transform: scale(1.1);
}

.sub-menu {
  display: none;
}

.sub-menu li a {
  color: black;
}

.nav-item-dropdown:hover .sub-menu {
  display: flex;
  position: absolute;
  width: 90vw;
  height: 45vh;
  justify-content: space-evenly;
  background-color: white;
  left: 95px;
  margin: 15px;
}

.nav-item-dropdown:hover .sub-menu li a {
  margin-top: 10px;
}

.nav-item-dropdown:hover .sub-menu ul {
  margin-top: 10px;
}

.sub.menu ul {
  margin-top: 50px;
}

.nav-item-dropdown {
  padding: 15px;
}
.nav-item-dropdown:hover .sub-menu li a {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  font-family: "nunito-sans", sans-serif; 
  font-weight: 400; 
  font-style: normal;
}

.nav-item-dropdown:hover .sub-menu h3 {
  color: #080357;
}

.CTA h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #080357;
  margin-top: 10px;
  margin-right: 50px;
}

.CTA p1 {
  font-family: "nunito-sans", sans-serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 16px;
}

.CTA p2 {
  font-family: "nunito-sans", sans-serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 16px;
  display: block;  
}

.CTA span {
  position: absolute;
  display: inline-block;
  width: 2px; 
  height: 280px; 
  background-color: #080357; 
  margin-top: -80px;
  margin-left: 220px;
}

.sub-menu2 {
  display: none;
}
.sub-menu2 li a {
  color: black;
}
.nav-item-dropdown:hover .sub-menu2 {
  display: flex;
  position: absolute;
  width: 90vw;
  height: 30vh;
  background-color: white;
  justify-content: flex-start;
  left: 95px;
  margin-top: 15px;
}
.nav-item-dropdown:hover .sub-menu2 li a {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  font-family: "nunito-sans", sans-serif; 
  font-weight: 400; 
  font-style: normal;
}

.nav-item-dropdown:hover .sub-menu2 ul {
  margin-left: 50px;
  margin-top: 20px;
}

.nav-item-dropdown:hover .sub-menu2 h3 {
  color: #080357;
}

.CTA-2 h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #080357;
  margin-left: 50px;
  margin-top: 20px;
}

.CTA-2 p {
  font-family: "nunito-sans", sans-serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 16px;
  margin-left: 50px;
  margin-top: 20px;
}
 
.CTA-2 span {
  position: absolute;
  display: inline-block;
  width: 2px; 
  height: 180px; 
  background-color: #080357;
  margin-left: 300px;
  margin-top: -110px;
}

.knap {
  background-color: #E0D4F1; 
  color: #080357; 
  font-size: 15px; 
  font-family: "nunito-sans", sans-serif; 
  font-style: normal;
  border: none; 
  height: 50px; 
  width: 130px; 
  padding: 5px 10px;
  border-radius: 35px; 
  cursor: pointer; 
  transition: transform 0.2s;
  text-decoration: none;
  } 
      
.knap:hover { 
  transform: scale(1.1); 
  } 

@media (max-width:1200px) {
  .search-box {
    display: none;
  }
}

  /* Burgermenu */
@media screen and (min-width: 1200px){
  .navbar{
    display: none;
}

/*farver på hover, active og hvilken side man befinder sig på af knapper i nav*/
.menu a:hover
    {color: #080357;}

.menu a:active
    {color: #080357;}

body#forside .forside-nav
    {color: #080357}

body#portfolio .portfolio-nav
    {color: #080357}    

body#om-mig .om-mig-nav
    {color: #080357}  

body#kontakt .kontakt-nav
    {color: #080357}  
}

@media screen and (max-width: 1200px){
  .navigation{
    display: none;
    
  
}

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  /*hele nav baren*/
  .navbar-container {
    display: block;
    position: relative;
    height: 67px;
  }

  /*checkboxen, der er skjult*/
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 12px;
    left: 18px;
    z-index: 5;
    opacity: 0;
  }

/*selve burgermenuen*/
  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*linjerne i burgermenuen*/
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  /*menuen der kommer frem, når man trykker på burgermenuen*/
  .navbar .menu-items {
    padding-top: 100px;
    background: #f7f7f7;
    opacity: 95%;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
  }

  /*links*/
  .navbar .menu-items a {
    font-family: futura-pt, sans-serif; 
    font-weight: 500; 
    font-style: normal; 
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: left;
  }

  /*listen*/
  .navbar .menu-items li{
    list-style: none;
    padding: 4px 0px;
  }

.menu-items a:hover
    {color: #080357;}

.menu-items a:active
    {color: #080357;}

body#forside .forside-nav
    {color: #080357}

body#portfolio .portfolio-nav
    {color: #080357}    

body#om-mig .om-mig-nav
    {color: #080357}  

body#kontakt .kontakt-nav
    {color: #080357}  

  .logo {
    position: absolute;
    top: 45px;
    right: 15px;  
  }

  /*når checkboxen er checked*/
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}

/*HERO-BANNER styling*/
@media (min-width: 768px) {
.section-container {
  max-width: 1200px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 60px;
}

.image img {
  width: 100%;
}
.farve1 {
  background-color:#080357;
  height: 80vh;
}

.section-container, .farve1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.herobanner-tekst {
  font-family: futura-pt, sans-serif; 
  font-weight: 400; 
  font-style: normal; 
}

.herobanner-tekst  {
font-size: 50px;
color: white;
}

.herobanner-tekst1 {
    text-align: start;
}

.text-button button {
  margin-top: 30px;
}
}

@media (max-width: 768px){
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 30px;
  background-color:#080357; 
  height:80vh;
  }
  
.herobanner-tekst1  {
  font-family: futura-pt, sans-serif; 
  font-weight: 400; 
  font-style: normal; 
  font-size: 10px;
  }
.text-button { 
  margin-top:-20px;
  margin-right: 90px;
}

.text-button a { 
  margin-top: 20px;  
  margin-left: 20px;
}

.image img {
  width:90%;
  height: auto;
  display: block;
 margin: auto;
}

.herobanner-tekst1 {
  text-align: start;
  font-size: 30px; 
}
}

/*Nyheder Forside*/

.nyheder{
  color:#080357;
  font-weight:bold;
  text-align: center;
  margin-bottom: 50px;
}

.nyheder-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container-nyheder{
  text-align: center; 
  align-items: center;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

.image-container-nyheder img{
  display:block;
  width:100%;
  height: auto;
  justify-content: center;
}

.nyheder-container .image-container-nyheder{
  position: relative;
  margin: 0;
}


.nyheder-overskift{
  color: #080357;
  font-style: normal;
  font-weight:bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nyheder-tekst {
  text-align: left;
  margin-bottom: 30px;
  margin-right: 0px;
  max-width: 320px;
}

.nyheder-tekst p1 {
  font-size: 16px;
}

.nyheder-knap {
  background-color: #080357;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 35px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 30px auto 30px;
  display: block;
}

/*Responsiv nyheder*/

.nyheder-knap:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .image-container-nyheder{
      max-width: 222px;
  } 
}

@media (min-width: 1024px) {
  .nyheder{
      font-size: 50px;
  }

  .image-container-nyheder{
      max-width: 400px;
  }

  .nyheder-tekst {
      margin-bottom: 30px;
      margin-right: 0px;
      max-width: 410px;
      font-size: 16px;
  }
  
  .nyheder-overskift{
      margin-top: 25px;
      margin-bottom: 5px;
      font-size: 25px;
  }

  .nyheder-sektion, .nyhederknap {
    text-align: center;
  }
}

/*Instagram feed*/ 
@media (max-width: 768px) {
.sektion {
display: flex;
flex-direction: column; 
max-width: 410px;
}

.farve1 {
  height: auto;
  background-color: #080357;
}

.farve1, .sektion {
display: flex;
justify-content: center;
}
.billede {
padding-top: 20px;
}

.billede img {
display:block;
width:88%;
height: auto;
margin: auto;
}

.tekst {
margin: auto;
text-align: left;
margin-bottom: 30px;
padding: 20px;
}

h2 {
font-size: 24px;
margin-left: 20px;
margin-top: 20px;
}

h3 {
margin-top: 20px;
}

.tekst p {
font-size: 16px;
color: white;
}

h3 {
color:#FFF9A5
}
.web {
display: none;
}

#sektion-frivillig-web button {
margin-top: 30px;
}
}

@media (min-width: 768px) {
.sektion-cta {
  display: flex; 
  align-items: center;
  max-width: 1200px;
  gap: 100px;
}

.mobil {
  display: none;
}
.billede {
  flex: 1; 
}

.billede img {
  max-width: 500px; 
  height: auto; 
}

.tekst {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
}

h2 {
  font-size: 50px; 
}

.tekst p {
  font-size: 16px; 
  color: white;
}

h3 {
  color: #FFF9A5;
  font-size: 30px;
}
}

@media (max-width: 1200px) {
  .nav-list{
    display: none;
  }

  .top-menu {
    display: none;
  }
}

.hvid {
background-color: white;
height: 100px;
}
/* Vil du være frivillig? */

#sektion-frivillig-web h2 {
  color: #FFF9A5;
}
@media (min-width: 768px) {
}
#sektion-frivillig-web {
  flex-direction: row-reverse;
}

 .frivillig-billede {
  width: 100%
}

.text-center h1{
  text-align: center;
  color: #080357;
  font-size:30px;
  font-family: "futura-pt",sans-serif;
}
  .text-center h4{
    font-family: "futura-pt",sans-serif;
      text-align: left;
      color: #080357;
      font-size:25px;
   }   
.container, button {
text-align: center;

}

.ompodcast-overskrift{
margin-left: 120px;
margin-top: 25px;
margin-bottom: 25px;
}

.ompodcast-overskrift h2{
color: #080357;
}

.podcast-paragraf, .ompodcast-overskrift {
  text-align: left;
}

 
.podcast-paragraf{
max-width: 1200px;
margin: 0 auto;
line-height: 1.8;
}


@media (max-width:768px) {
  .podcast-paragraf {
    max-width: 320px;
  }

.ompodcast-overskrift h2 {
  margin-left: -100px
}
}

/* Mød dine værter */
.container1 h2 {
font-weight: 400;
line-height: 1.4;
margin: 10px 0px;
color: #080357;
font-size: 30px;
font-family: "futura-pt", sans-serif;
font-style: normal;
font-weight: 500;
}

.container1 h3 {
font-weight: 400;
font-family: "nunito-sans", sans-serif;
font-style: normal;
line-height: 1.2;
margin: 10px 0;
color: #242424;
font-size: 16px;
}

.container h2 {
font-weight: 400;
line-height: 1.4;
margin: 10px 0px;
color: #080357;
font-size: 30px;
font-family: "futura-pt", sans-serif;
font-style: normal;
font-weight: 400;
}

.container h3 {
font-weight: 400;
font-family: "nunito-sans", sans-serif;
font-style: normal;
line-height: 1.2;
margin: 10px 0;
color: #242424;
font-size: 16px;
}

.h2overskrift-varter h2 {
font-size: 50px;
margin-top: 50px;
}

@media (max-width:768px) {
.h2overskrift-varter h2 {
  font-size: 24px;
}
}

.container img {
width: 60%;
}

.container1 img {
width: 60%;
}

code,
pre {
background: #333;
color: #fff;
padding: 10px;
}

.hidden {
visibility: hidden;
height: 0;
}

/* Stats */
.stats {
padding-top: 100px;
}

.stats-heading {
max-width: 500px;
margin: auto;
}

.stats .grid h3 {
font-size: 35px;
}

.stats .grid p {
font-size: 20px;
font-weight: bold;
}

.stine{
display: none;
}


/* Tablets and under */
@media (max-width: 768px) {
.showcase .grid,
.stats .grid,
.cli .grid,
.cloud .grid,
.features-main .grid,
.docs-main .grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.showcase {
  height: auto;
}

.showcase-text {
  text-align: center;
  margin-top: 40px;
}

.showcase-form {
  justify-self: center;
  margin: auto;
}

.cli .grid > *:first-child {
  grid-column: 1;
  grid-row: 1;
}

.features-head,
.features-sub-head,
.docs-head {
  text-align: center;
}

.features-head img,
.features-sub-head img,
.docs-head img {
  justify-self: center;
}

.features-main .grid > *:first-child,
.features-main .grid > *:nth-child(2) {
  grid-column: 1;
}

.stine-web{
display: none;
}

.stine{
display: block;

}}

/* Mobile */
@media (max-width: 500px){
  
}

.showcase-form {
  width: 300px;
}


.more-button {
  background-color: #080357;
  color: #FFF9A5;
  padding: 10px 50px; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  display: block; 
  margin: auto; 
  text-align: center; 
  height: 40px;
}

.style>
tats-heading text-center mb-2{
display: none;
flex-direction: row;
}

.container {
max-width: 1200px;
margin: auto;
overflow: auto;
padding: 0 40px;
}
.container1 {
max-width: 1200px;
margin: 0 auto;
overflow: auto;
padding: 0 40px;
}
.grid grid-2 text-center.my-2{
display:none
}

.text-center {
text-align: left;
}

.flex {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

@media (min-width:1024px) {
.grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
justify-content: center;
align-items: center;
height: 100%;
}
}

.grid-3 {
grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
margin: 1rem 0;
}

.my-2 {
margin: 1.5rem 0;
}

.my-3 {
margin: 2rem 0;
}

.my-4 {
margin: 3rem 0;
}

.my-5 {
margin: 4rem 0;
}

.m-1 {
margin: 1rem;
}

.m-2 {
margin: 1.5rem;
}

.m-3 {
margin: 2rem;
}

.m-4 {
margin: 3rem;
}

.m-5 {
margin: 4rem;
}

/* Padding */
.py-1 {
padding: 1rem 0;
}

.py-2 {
padding: 1.5rem 0;
}

.py-3 {
padding: 2rem 0;
}

.py-4 {
padding: 3rem 0;
}

.py-5 {
padding: 4rem 0;
}

.p-1 {
padding: 1rem;
}

.p-2 {
padding: 1.5rem;
}

.p-3 {
padding: 2rem;
}

.p-4 {
padding: 3rem;
}

.p-5 {
padding: 4rem;
}

.search-box{  /* placering af søgefletet */
height: 40px;
width: 60px;
position: absolute;
top: 20px;
right: 50px;
}



.search-box.active{  /* længde på søgefletet når det er aktivt */
width: 250px;
}


.search-box input{  /* styles i søgefeltet */
height: 100%;
width: 100%;
border: none;
outline: none;
background-color:#080357;
color: #242424;
font-size: 18px;
border-radius: 50px;
padding: 0 60px 0 20px ;
opacity: 0;
margin-left: -20px;
}

.search-box input.active{ 
opacity: 1;

}

.search-box .search-btn{ /* styles for søgeikonet */
position: absolute;
top:160%;
right: 110px;
transform: translateY(-50%);
height:40px;
width:40px;
background-color:#080357;
color:#E0D4F1;
line-height: 40px;
font-size:22px ;
text-align: center;
border-radius: 50px;
cursor: pointer;
z-index: 1;
}

.search-box .search-btn.active{ /* styles for søgeikonet når det er aktivt */
right: 26px;
height: 0px;
margin-top: 23px;
background-color: white;
color:#080357;
line-height: 35px;
font-size:20px;
transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-btn{ /* styles for krydset */
position: absolute;
top:155%;
right: 130px;
transform: translateY(-50%);
color:#E0D4F1;
font-size: 25px;
cursor: pointer;
}

.search-box .cancel-btn.active{ /* styles for krydset når det er aktivt */
right: -10px;
transform: translateY(-50%) rotate(360deg);
margin-top: 40px;
}

/* Search filter */ 
#input{
background-position: 10px 12px; /* styles for input */
background-repeat: no-repeat;
background-color: white;
width: 70%;
height: 80%;
font-size: 16px;
border: 1px solid #ddd;
margin-top: 85px;
margin-right: -50px;
}


#UL{ /* styles for liste */
list-style-type: none;
padding: 0;
margin: 0;
opacity: 0; 
margin-right: 40px;
}

#UL li a{ 
border: 1px solid #ddd;
margin-top: -1px;
background-color: #f7f7f7;
padding: 12px;
text-decoration: none;
font-size: 16px;
color:black;
display: block;
font-family: "nunito-sans", sans-serif;
}

#UL li a:hover:not(.header){ /* styles for hover*/
background-color:#f7f7f7;
}

#input:focus + #UL, #input:not(:empty) + #UL{ /* styles for at søgelisten kommer frem ved at trykke på søgefeltet*/
opacity: 1;
}

.text-center h1 {
  margin-top: 50px;
  font-size: 50px;
}

/* Podcast video*/
.iframe-container iframe {
  width: 560px;
  height: 315px;
}

@media (max-width:1024px) {

  .iframe-container iframe {
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
}


/* Footer */
footer h2 {
  font-weight: 300;
  line-height: 1.4;
  margin: 10px 0px;
  color: white;
  font-size: 22px;
  font-family: "futura-pt", sans-serif;
  font-weight: bold;
  text-align: left;
  width: auto;
}
footer h4 {
  font-weight: 300;
  line-height: 1.4;
  margin: 15px 0px;
  color: white;
  font-size: 18px;
  font-family: "futura-pt", sans-serif;
  font-weight: bold;
}


.footer-content1 {
  text-align: left; /* Tilføj denne linje for at centrere indholdet */
 }
 
 /* Hvis du ønsker at styre bredden af "Kig forbi" sektionen, kan du bruge følgende CSS-regel */
 .footer-content1 {
  max-width: 300px; /* Juster bredden efter behov */
  margin:  0 auto; /* Centrer indholdet horisontalt */
 }
 
 .padding-left{
  font-weight: bold;
 }
 footer {
  margin-top: 100px;
 width: 100%;
 background-color: #080357;
 }

 footer p {
  color: white;
 }

 footer ul {
 list-style: none;
 margin: 0;
 padding: 0;
 }

 .footer-content-container {
 display: flex;
 justify-content: space-between;
 color: #ffffff;
 }

 .footer-upper {
 display: flex;
 width: 100%;
 margin-left: 120px;
 justify-content: space-around;
 }

 .footer-inner-content {
 display: flex;
 margin-right: 20px;
 font-weight: bold;
 font-size: 15px;
 }

 .footer-link-container {
 display: flex;
 justify-content: space-evenly;
 margin-top: 30px;
 height: 60px; /* Ændrer højden til 50px */
 /* Normal stil for logo */
 transition: transform 0.3s; /* Tilføj en glidende overgangseffekt */
 }

 /* Stil for logo ved hover */
 .footer-link:hover {
 transform: scale(1.1); /* Ændrer størrelsen til 110% af original størrelse ved hover */
 }

 .padding-right {
 padding:0;
 font-weight: bold;
 transition: transform 0.3s; /* Tilføj en glidende overgangseffekt */
 }

 .footer-content {
  margin-right: 120px;
 }

 .footer-content ul {
padding-right:10px;
 }

 @media screen and (max-width: 600px) {
 .footer-content-container {
 flex-direction: column;
 margin: 0 12px;
 }

 .footer-upper {
 justify-content: space-between;
 }
 
 .footer-link {
 width: 50px;
 height: 50px;
 }

.footer-upper {
  margin: 0;
}

 }
 