footer {
    width: 100%;
    }
    
    
    ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    }
    
    
    .footer-content-container {
    display: flex;
    flex-direction: column; /* Ændrer til lodret retning på mobile enheder */
    margin-top: 20px;
    }
    
    
    .footer-upper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    
    
    .footer-inner-content {
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px; /* Tilføjer en margin nederst for at skabe afstand mellem sektionerne */
    }
    
    
    .footer-link-container {
    display: flex;
    justify-content: center; /* Center indholdet vandret */
    flex-wrap: wrap; /* Hvis indholdet ikke passer på skærmen, skal det pakke på flere linjer */
    margin-top: 20px;
    }
    
    
    .footer-link {
    margin: 10px; /* Tilføj margin for at opnå lige meget mellemrum */
    width: 75px;
    height: 75px;
    background-color: black;
    border-radius: 100px;
    }
    
    
    .footer-content {
    margin: 10px; /* Tilføj margin for at opnå lige meget mellemrum */
    display: flex;
    flex-direction: column;
    }
    
    
    
    
    
    
    @media screen and (min-width: 600px) {
    
    
    .footer-content-container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    }
    
    
    .footer-upper {
    justify-content: space-around;
    }
    
    
    .footer-link {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    }
    }
    