body {
  background-color: #f7f7f7;
}

header {
    font-family: "futura-pt", sans-serif; font-weight: 700;font-style: normal;
    margin: 20;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

button {
  font-family: "futura-pt", sans-serif; font-weight: 700;font-style: normal;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:hover {
    color: #eb282d;
}

 
.nav-button {
    background-color: #080357;
    color: white;
    border: none;
    height:40px;
    width: 100px;
    border-radius: 35px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .nav-button:hover {
    transform: scale(1.1);
  }

  .top-menu li {
    font-size: 14px;
    margin-right: 45px;
    padding-right: 20px;
    margin-top: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #080357;
  }
  
  .top-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  
  .top-menu li a {
  text-decoration: none;
  color: #080357;
  }


  .sub-menu {
    display: none;
  }


  .nav-item-dropdown:hover .sub-menu {
    display: flex;
    position: absolute;
    width: 90vw;
    justify-content: space-evenly;
    background-color: white;
    left: 95px;
    margin: 15px 0px;
  }
  .nav-item-dropdown:hover .sub-menu li a {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-family: "nunito-sans", sans-serif; 
    font-weight: 400; 
    font-style: normal;
  }

  .nav-item-dropdown:hover .sub-menu h3 {
    color: #080357;
  }
 
  .CTA h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: #080357;
  }

  .CTA p1 {
    font-family: "nunito-sans", sans-serif; 
    font-weight: 400; 
    font-style: normal;
    font-size: 16px;
  }
  
  .CTA p2 {
    font-family: "nunito-sans", sans-serif; 
    font-weight: 400; 
    font-style: normal;
    font-size: 16px;
    display: block;  
  }
  
  .CTA span {
    position: absolute;
    display: inline-block;
    width: 2px; 
    height: 230px; 
    background-color: #080357; 
    margin-top: -110px;
    margin-left: 220px;
  }

  .sub-menu2 {
    display: none;
  }

  .nav-item-dropdown:hover .sub-menu2 {
    display: flex;
    position: absolute;
    width: 90vw;
    height: 30vh;
    background-color: white;
    justify-content: flex-start;
    left: 95px;
  }
  .nav-item-dropdown:hover .sub-menu2 li a {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-family: "nunito-sans", sans-serif; 
    font-weight: 400; 
    font-style: normal;
  }

  .nav-item-dropdown:hover .sub-menu2 h3 {
    color: #080357;
  }
  .CTA-2 h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: #080357;
    margin-left: 50px;
  }

  .CTA-2 p1 {
    font-family: "nunito-sans", sans-serif; 
    font-weight: 400; 
    font-style: normal;
    font-size: 16px;
    margin-left: 50px;
  }
  
  .CTA-2 p2 {
    font-family: "nunito-sans", sans-serif; 
    font-weight: 400; 
    font-style: normal;
    font-size: 16px;
    display: block;  
    margin-left: 50px;
  }
  
  .CTA-2 span {
    position: absolute;
    display: inline-block;
    width: 2px; 
    height: 160px; 
    background-color: #080357; 
    margin-top: -110px;
    margin-left: 270px;
  }