Body { 
    Margin: 20px; 
} 

h2 {  
    font-family: futura-pt, sans-serif; 
    font-weight: 500; 
    font-style: normal; 
} 
        
         
h3 { 
    Font-family: futura-pt, sans-serif; 
    font-weight: 500; 
    font-style: italic; 
} 
        
         
p { 
    font-family: "nunito-sans", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
}

.nyheder{
    color:#080357;
    font-weight:bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.image-container-nyheder{
    text-align: center;
}

.image-container-nyheder img{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nyheder-overskift{
    color: #080357;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

.nyheder-tekst{
    text-align: left;
    margin-bottom: 30px;
}

.nyheder-knap {
    background-color: #080357;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 35px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: 30px;
}

.nyheder-knap:hover {
    transform: scale(1.1);
}

