 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: white; 
}


/* Søgefelt red barnet ungdom */ 

.search-box{  /* placering af søgefletet */
    height: 40px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 50px;
    transition: all 0.5s cubic-bezier(0.68,-0.55, 0.265, 1,55);
}



.search-box.active{  /* længde på søgefletet når det er aktivt */
    width: 250px;
}


.search-box input{  /* styles i søgefeltet */
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color:#080357;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50px;
    padding: 0 60px 0 20px ;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68,-0.55, 0.265, 1,55);
}

.search-box input.active{ 
    opacity: 1;

}

.search-box .search-btn{ /* styles for søgeikonet */
    position: absolute;
    top:50%;
    right: 0px;
    transform: translateY(-50%);
    height:40px;
    width:40px;
    background-color:#ffffff;
    color: #080357;
    line-height: 40px;
    font-size:22px ;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}

.search-box .search-btn.active{ /* styles for søgeikonet når det er aktivt */
    right:5px;
    height:35px;
    width:35px;
    color:#ffffff;
    line-height: 35px;
    font-size:20px;
    background-color: #080357;
    transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-btn{ /* styles for krydset */
    position: absolute;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
    color:#080357;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68,-0.55, 0.265, 1,55)
}

.search-box .cancel-btn.active{ /* styles for krydset når det er aktivt */
    right: -25px;
    transform: translateY(-50%) rotate(360deg);
}


/* Search filter */ 

#input{
    background-position: 10px 12px; /* styles for input */
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding:12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


#UL{ /* styles for liste */
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 0; 
}

#UL li a{ 
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f7f7f7;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    color:black;
    display: block;
    font-family: "nunito-sans", sans-serif;
}
 
#UL li a:hover:not(.header){ /* styles for hover*/
    background-color:#f7f7f7;
}

#input:focus + #UL, #input:not(:empty) + #UL{ /* styles for at søgelisten kommer frem ved at trykke på søgefeltet*/
    opacity: 1;
}


